:root {
  --bg-primary: #1abc9c;
  --bg-secondary: #2c3e50;
  --bg-ftr-top: #3a546d;
}

.jq-bordi {
  border: 1px solid black;
}

nav {
  color: white;
  background-color: var(--bg-secondary);
}

.jumbotron {
  color: white;
  background-color: var(--bg-primary);
}

.row .col-sm-12 {
  border: 1px solid purple;
}

.about {
  background-color: var(--bg-primary);
  color: white;
}

.footer-top {
  background-color: var(--bg-ftr-top);
}

.footer-bottom {
  background-color: var(--bg-secondary);
}
