:root {
  --bg-primary: #1abc9c;
  --bg-secondary: #2c3e50;
  --bg-ftr-top: #3a546d;
}

.jq-bordi {
  border: 1px solid black;
}

header {
  background-color: var(--bg-secondary);
  color: white;
}

#jumbo {
  background-color: var(--bg-primary);
  color: white;
}

.divisore-prima-b::before {
  content: '';
  display: inline-block;
  width: 20%;
  height: 3px;
  background-color: black;
  border: 1px solid black;
  border-radius: 50px;
  vertical-align: middle;
}

.divisore-dopo-b::after {
  content: '';
  display: inline-block;
  width: 20%;
  height: 3px;
  background-color: black;
  border: 1px solid black;
  border-radius: 50px;
  vertical-align: middle;
}

.divisore-prima-w::before {
  content: '';
  display: inline-block;
  width: 20%;
  height: 3px;
  background-color: white;
  border: 1px solid white;
  border-radius: 50px;
  vertical-align: middle;
}

.divisore-dopo-w::after {
  content: '';
  display: inline-block;
  width: 20%;
  height: 3px;
  background-color: white;
  border: 1px solid white;
  border-radius: 50px;
  vertical-align: middle;
}

.fa-star {
  padding: 0 10px;
  font-size: 20px;
}

#about {
  background-color: var(--bg-primary);
}

form .btn {
  background-color: var(--bg-primary);
  border: none;
}

.footer-top {
  background-color: var(--bg-ftr-top);
}

footer {
  background-color: var(--bg-secondary);
}

.jq-link {
  color: var(--bg-primary);
}
