.divisore {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divisore > * {
  padding: 0 1.5625rem;
  font-size: 2rem;
}

.divisore::before,
.divisore::after {
  content: '';
  display: inline-block;
  height: 0.25rem;
  background-color: white;
  width: 30%;
  border-radius: 0.125rem;
  max-width: 9.375rem;
}
